<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Người Dùng</title>
    <link rel="stylesheet" href="../static/css/user-info.css">
</head>
<body>
  <div class="user-card">
    <h2>Thông Tin Người Dùng</h2>
    <div class="user-info">
        <label for="name">Tên:</label>
        <input type="text" id="name" disabled>
        
        <label for="phone">Số điện thoại:</label>
        <input type="text" id="phone" disabled>
        
        <label for="position">Chức vụ:</label>
        <input type="text" id="position" disabled>
        
        <label for="branch">Chi nhánh:</label>
        <input type="text" id="branch" disabled>
    </div>
</div>

    <script src="../static/js/user-info.js"></script>
</body>
</html>
